<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Website to epub</h1>
    <p>Convert to HTML website to epub</p>
  </div>
</div>


</body>
</html>
